* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'AndaleMono', monospace;
  color: #fff;
  background-color: #000;
  line-height: 1.5em;
}

.prompt {
  margin: 1em 0;

  li {
    display: block;
    
    margin-bottom: .5em;
    padding: .5em 2em;
    
    table td {
      vertical-align: top;
      
      &:last-child {
        padding-left: 1em;
      }
    }
    
    &:nth-child(even){
      background-color: #181818;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

$blue: #53A9D6;
$yellow: #F7CF78;
$red: #FC755A;
$green: #4FA65B;

.msg {
  &.msg--info {
    color: $blue;
  }
  &.msg--warning {
    color: $yellow;
  }
  &.msg--err {
    color: $red;
  }
  &.msg--success {
    color: $green;
  }
}

.symbol {
  color: $blue;
}
.timestamp {
  color: $blue;
}
.sender {
  color: $blue;
}